* {
    box-sizing: border-box;
    overflow: auto;
}

.container {
    width: 340px;
    height: 700px;
    max-width: 1200px;
    border: 1px solid gray;
    margin: 0 auto;
    background-color: bisque;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.2);
}

.row {
    position: absolute;
    top: 8px;
    left: 7px;
    width: 320px;
    height: 682px;
    border: 1px solid bisque;
    background-color: #fcfcfc;
    border-radius: 20px;
}

#circle1 {
    position: absolute;
    top: 20px;
    left: 164px;
    width: 6px;
    height: 6px;
    border-radius: 99em;
    background-color: black;
}

#circle2 {
    position: absolute;
    top: 40px;
    left: 120px;
    width: 12px;
    height: 12px;
    border-radius: 99em;
    background-color: black;
}

#rectangle {
    position: absolute;
    top: 42px;
    left: 145px;
    width: 47px;
    height: 6px;
    border: 1px solid gray;
    position: relative;
    background-color: black;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#circle3 {
    position: absolute;
    top: 620px;
    left: 146px;
    width: 48px;
    height: 48px;
    border-radius: 99em;
    background-color: bisque;
}

#circle4 {
    position: absolute;
    top: 626px;
    left: 152px;
    width: 36px;
    height: 36px;
    border-radius: 99em;
    background-color: white;
}

.column1 {
    position: absolute;
    top: 80px;
    left: 11px;
    width: 298px;
    height: 518px;
    position: relative;
    background-color: black
}